.login-background {
  background-image: url('./imgs/loginback.jpeg');

  height: 100%;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-wrapper {
  width: 75%;
  height: 80%;
  border-radius: 1em;
  display: flex;
  margin:0;
}

.login-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  float:left;
  border-radius: 1em 0 0 1em;
  background:#85beff;
  width: 45%;
}

.login-left-text {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: wrap;
  align-items: center;
}

.login-right{
  border-radius: 0 1em 1em 0;
  float:right;
  overflow: hidden;
  width: 55%;
}

.login-input{
  width:100%;
}

#register {
  background-color: aliceblue;
}

.right {
  position: absolute;
  right: 0;
}

.hide {
  visibility: hidden;
}

.login-slide-out {
  animation-name: slide-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count:1;
}

.login-slide-in {
  left: 0;
  animation-name: login-slide-in;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count:1;
}

.register-slide-in {
  visibility: visible;
  opacity: 0;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

.register-slide-out {
  visibility: visible;
  opacity: 1;
  animation-name: register-slide-out;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes register-slide-out {
  0% {  transform: translateX(-27vw); }
  35% {opacity: 0;}
  100% { transform: translateX(0vw); opacity: 0;}
}

@keyframes login-slide-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@keyframes slide-in {
  0% {  transform: translateX(0vw); }
  35% {opacity: 0;}
  100% { transform: translateX(-27vw); opacity: 1;}
}

@keyframes fade-in {
  50% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}